/* body{
    background-color: blueviole;
} */

#one{
    height: 300px;
    width: 600px;
    background: whitesmoke;
    border: 1px solid black
    
}

#two{
    height: 250px;
    width: 250px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 150px;
    top: -280px;
    

}
